# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# 连接 docker 上的 数据库时，可能超时，因此需要添加超时时间为 300
DATABASE_POSTGRES_URL="postgresql://userName:password123@localhost:7232/mydatabase?schema=public&connect_timeout=300"

DATABASE_MONGO_URL="mongodb://userName:password123@localhost:7217/myDatabase?directConnection=true&serverSelectionTimeoutMS=90000&appName=mongosh+2.2.5&authSource=admin"

# token 默认通过所有权限验证，仅在 dev 模式下使用
DEV_ADMIN_TOKEN="68b7dc18-4276-465b-8af2-1fc8b0d34f63"
